In [1]:
import numpy as np 
import pandas as pd

In [5]:
g7_pop = pd.Series([35.467,63.951,80.940,60.665,127.061,64.511,318.523])

In [6]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [7]:
g7_pop.name = "G7 population in millions"

In [8]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 population in millions, dtype: float64

In [9]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [13]:
g7_pop.index = ([
    "Canada",
    "France",
    "Germany",
    "Italy",
    "Japan",
    "United Kingdom",
    "United States",
])

In [15]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 population in millions, dtype: float64

In [16]:
g7_pop["Canada"]

35.467

This is a population of canada

In [17]:
g7_pop.iloc[1]

63.951

In [18]:
g7_pop[1]

63.951

In [20]:
g7_pop[["Italy","France"]]

Italy     60.665
France    63.951
Name: G7 population in millions, dtype: float64

In [21]:
g7_pop["Canada":"Italy"]

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 population in millions, dtype: float64

The Canada is lower bound for the printing elements,and the Italy is upper bound for the list which is included in PANDAS (normally upper level is not included)

# **Conditional Selection**

In [22]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 population in millions, dtype: float64

In [29]:
g7_pop > 80

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 population in millions, dtype: bool

In [30]:
g7_pop[g7_pop>70]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 population in millions, dtype: float64

In [31]:
g7_pop.mean()

107.30257142857144

In [33]:
g7_pop.std()

97.24996987121581

In [32]:
g7_pop[g7_pop>g7_pop.mean()]

Japan            127.061
United States    318.523
Name: G7 population in millions, dtype: float64

In [34]:
np.log(g7_pop)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 population in millions, dtype: float64

In [37]:
g7_pop[(g7_pop>63) & (g7_pop<200)]

France             63.951
Germany            80.940
Japan             127.061
United Kingdom     64.511
Name: G7 population in millions, dtype: float64

# **Modifying Series**

In [38]:
g7_pop["Japan"] = 39.99

In [39]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan              39.990
United Kingdom     64.511
United States     318.523
Name: G7 population in millions, dtype: float64

In [42]:
g7_pop.iloc[1] = 49.99

In [43]:
g7_pop

Canada            35.467
France            49.990
Germany           80.940
Italy             60.665
Japan             39.990
United Kingdom    64.511
United States     49.990
Name: G7 population in millions, dtype: float64

In [46]:
g7_pop[(g7_pop < 50)] = 0

In [47]:
g7_pop

Canada             0.000
France             0.000
Germany           80.940
Italy             60.665
Japan              0.000
United Kingdom    64.511
United States      0.000
Name: G7 population in millions, dtype: float64

# **NEW SECTIONS WITH DATA FRAMES**

In [48]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [49]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [50]:
df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [51]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [52]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [53]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 636.0+ bytes

In [55]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [57]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [58]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [59]:
df.loc["Canada"]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [60]:
df.loc["United Kingdom"]

Population       64.511
GDP             2950039
Surface Area     242495
HDI               0.907
Continent        Europe
Name: United Kingdom, dtype: object

In [61]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [65]:
df.iloc[1:4]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [66]:
df["Population"]

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [67]:
df["GDP"]

Canada             1785387
France             2833687
Germany            3874437
Italy              2167744
Japan              4602367
United Kingdom     2950039
United States     17348075
Name: GDP, dtype: int64

In [68]:
df.loc["France":"Japan"]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe
Japan       127.061  4602367        377930  0.891      Asia

In [69]:
df.loc["France":"Japan","Continent"]

France     Europe
Germany    Europe
Italy      Europe
Japan        Asia
Name: Continent, dtype: object

In [70]:
df.loc["France":"Japan","Population"]

France      63.951
Germany     80.940
Italy       60.665
Japan      127.061
Name: Population, dtype: float64

In [71]:
df.loc["France":"Japan",["Population","GDP"]]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744
Japan       127.061  4602367